
/* Suppression des marges par défaut sur TOUS les éléments */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html, #root {
  width: 100%;
  min-height: 100vh;
  background-color: #fdf8f1; /* Fond beige global */
  font-family: 'Playfair Display', serif;

}