/* src/index.css */
:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: block; /* Supprime le centrage forcé par Vite */
  min-width: 100vw;
  min-height: 100vh;
  background-color: #f4eee0; /* Votre couleur crème */
}

#root {
  width: 100%;
  margin: 0;
}